body {
    margin-top:70px;
}

main {
    padding: 30px 0;
    min-height: calc(100vh - 180px);
}

.body-wrapper{
    min-height: 100%;
    position: relative;
}

#review-detail{
    width: 80%;
    margin: 10px;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border: solid rgba(0, 0, 0, 0.1);
    text-align: center;
}